*, :after, :before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Okra, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1cpnt6l-MuiPaper-root-MuiAppBar-root{
  box-shadow: none !important;
}

.css-v526sl-MuiPaper-root-MuiAppBar-root{
  box-shadow: none !important;
}


.hero-container{
  background-image: url("../public/images/image.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;

}

.explore-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 40px 20%;
  
}

.explore-card {
    border-radius: 15px !important;
    width: 600px;


}

.content-container{
  margin-bottom: 50px;
}

.hero-text{
  color: white;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero-text p{
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 900px){
  .css-15ytkbm{
      display: inline-flex !important;
      flex-wrap: wrap;
      gap: 30px; 
      margin-right: 100px;
  }
}

.css-15351is-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}

@media (min-width: 900px) {
  .css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
      width: 250px !important;
  }
}

.css-1kcggdq-MuiInputBase-root {
  display: flex !important;
  justify-content: flex-start !important;
  height: 100%;
}

.css-gcwvw8-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 7.5px 4px 7.5px 50px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin-left: 40px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  max-width: none !important;
}

.categories-title {
  font-weight: 500 !important;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 400;
  color: rgb(28, 28, 28);
  margin: 0px;
}

.categories-description {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0.4rem;
}

.description-text {
  line-height: 1.4;
  font-weight: 300;
  color: rgb(54, 54, 54);
  font-size: 1.4rem;
  margin: 0px;
}

.categories-container{
  margin: 100px 20%;
}

.categories-btn{
  text-decoration: none;
  display: block;
  background-color: transparent;
  font-weight: 300;
  color: rgb(255,126,139);
}

.categories-btn-text{
  display: inline-flex;
  padding: 0.3rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
  line-height: 1.5;
  font-size: 15px;
}

.css-46bh2p-MuiCardContent-root {
  padding: 10px 0 15px 15px !important;
}

.css-h93ljk-MuiTypography-root{
  margin-bottom: 2px !important;
}

.card-container{
   max-width: 290px;
   height:320px;
   width:200px;
   border-radius:7px !important;
   position:relative;
   text-align:center;
   margin-top:30px;
}

.card-actionarea{
  height: 100%;
}

.card-media{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content{
  position: absolute;
  color: white;
  bottom: 0;
}

.card-content-text, .card-content-title{
  text-align: start;
  color: white;
}

.popular-title-container {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
}

.popular-container{
  margin: 100px 20%;
}

.popular-title{
  font-size: 3.6rem;
  font-weight: 300;
}

.item-container {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0px 10px 15px 0px;
}

.item-content {
  box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
  padding: 1.2rem 1.5rem;
  border-radius: 0.8rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  margin-bottom: 0.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.item-title-box {
  width: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
}

.item-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  color: rgb(28, 28, 28);
  margin: 0px 0px 0.5rem;
}

.item-desc{
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  color: rgb(54, 54, 54);
}

.item-tag{
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-gap: 10px;
}

.collapse-item-container{
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0px 10px 15px 0px;
}

.collapse-box{
  width: inherit;
  height: 7rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  box-sizing: border-box;
  border-radius: 0.8rem;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
}

.collapse-title{
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.block-heading-1 span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: bold;
}

.block-heading-1 h2 {
  font-size: 3rem;
}

.form-group {
  position: relative;
 }
.form-group input {
    padding-right: 50px; 
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.form-control{
  margin-bottom: 5px;
}

textarea.form-control{
  height: 150px;
}

.form-control {
  height: 55px;
  background: #fff !important;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-control:active, .form-control:focus {
  border-color: #ff8b00; 
}

.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
   }

   .form-control:hover, .form-control:active, .form-control:focus {
  border: 1px solid #666666; 
}

.footer-suscribe-form .form-control {
  color: #000;
}

.footer-suscribe-form .form-control:hover, .footer-suscribe-form .form-control:active, .footer-suscribe-form .form-control:focus {
    color: #000 !important; 
}

.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important;
}

.btn-primary-1{
  background-color: red !important;
  border-color: red !important;
}
.btn-primary-1:hover{
  background-color: red !important;
}

.btn.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff; 
}

.btn.btn-outline-white:hover {
  background: #fff;
  border-color: #fff;
  color: #000; 
}

.footer-suscribe-form .btn {
  background: #7a5e86;
  color: #fff;
  border-color: #7a5e86; 
}

.btn-md {
  padding: 8px 20px; 
}

.message-btn{
  margin-top: 20px;
}

.text-white {
  color: #fff !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.ml-auto{
  margin-left: auto !important;
}

.ms-auto{
  margin-right: auto !important;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.text-black {
  color: black!important;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

textarea.form-control {
  min-height: calc(1.5em + (0.75rem + 2px));
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
 .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
 .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
 .container {
    max-width: 1320px;
  }
}

.site-section {
  margin: 100px 20%;
}

.required-error,
.invalid-email,
.maximum-characters{
  margin-bottom: 5px;
  color: #e53f25;
}

@media screen and (max-width:688px){
  
  .hero-container{
    position: relative;
  }

  .content-container{
      max-height: 228px ;
      max-width: 390px;
      position: absolute;
      bottom: 0;
      margin-bottom: 35px;
      
  }

  .logo-container{
    width: 480px;
    height: 96px;
  }

  .img-hero{
    height: 96px;
    margin-left: 130px;
  }

  .search-container{
    width: 342px;
    margin-left: 24px;
  }

  .hero-text{
    max-width: 325px;
    max-height: 64px;
    font-size: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width:689px) and (max-width:992px){
  .explore-container{
    margin: 0;
  }

  .categories-container{
    margin: 0;
  }

  .popular-container{
    margin: 0;
  }

  .site-section {
    margin: 0;
  }
}
