@import '../components/ResponsiveAppBar/responsive-app-bar.css';
@import '../components/Hero/hero.css';
@import '../components/Explore/explore.css';
@import '../components/Categories/categories.css';
@import '../components/Popular/popular.css';
@import '../components/ContactUs/contact-us.css';
@import '../components/Footer/footer.css';

html {
  scroll-behavior: smooth;
}

*, :after, :before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Okra, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;
  overflow: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}